
.competencias {
    background: linear-gradient(135deg, #6a1b9a, #ab47bc); 
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    color: white;
    transition: transform 0.3s ease;
}

.full-page{
    padding: 50px;
}

.competencias:hover {
    transform: scale(1.02); 
}

.competencias h3 {
    font-size: 28px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.competencias-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    list-style: none;
    padding: 0;
}

.competencias-list li {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: white;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.competencias-list li::before {
    content: "\2713"; 
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #4a0257; 
}


.competencias-list li:hover {
    background-color: #fff; 
    color: #6a1b9a; 
    transform: translateY(-5px); 
}


.linguagens { 
    background: linear-gradient(135deg, #ab47bc, #6a1b9a); 
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    transition: transform 0.3s ease;
}

.linguagens:hover {
    transform: scale(1.02); 
}

.linguagens h3 {
    font-size: 28px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.linguagens ul {
    list-style: none;
    padding: 0;
}

.linguagens li {
    font-size: 18px;
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.linguagens li:hover {
    background-color: #fff; 
    color: #ab47bc; 
    transform: translateY(-5px);
}
