.contato{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-2{
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 216, 249);
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.div-1{
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 216, 249);
    color: rgb(64, 8, 92);
    font-size: 22px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-right: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.titulo-contato{
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex p{
    font-weight: 500;
}

.flex span{
    font-weight: 330;
    margin-left: 10px;
}

#whatsapp, #linkedin, #github{
    width: 70px;
}

.div-1:hover {
    transform: scale(1.02); 
}

.div-2:hover {
    transform: scale(1.03); 
}

