.timeline-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInSide 1s ease-in-out;
}

.timeline-container h1 {
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 35px;
}

.timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.timeline-item {
    position: relative;
    padding: 20px 40px;
    border-left: 2px solid #ab47bc; 
    margin-bottom: 40px;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-dot {
    position: absolute;
    left: -35px;
    top: 20px;
    width: 70px;
    height: 40px; 
    background-color: #a65eb3;
    border-radius: 15px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #ffffff;
    font-size: 14px; 
    font-weight: bold; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease; 
}

.timeline-dot:hover {
    background-color: #9c27b0; 
}


.timeline-content {
    margin-left: 30px;
    background-color: #4a2663; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.timeline-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}

.timeline-content p {
    margin: 5px 0;
    font-size: 16px;
    color: #e0e0e0;
}

.timeline-content:hover {
    background-color: #664581; 
    transition: background-color 0.3s ease;
}

.empresa {
    font-style: italic;
    color: #bdbdbd;
}

@keyframes fadeInSide {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
