/* Header.css */
.header {
  background-color: #f9f4fc; /* Cor de fundo */
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.navbar {
  display: flex;
  justify-content: space-between; /* Alinha o título e o menu */
  align-items: center; /* Centraliza verticalmente */
}

.navbar-title h1 {
  margin: 0;
  font-size: 24px;
  color: #8b09be;
}

.navbar-menu {
  display: flex;
}

.menu-items {
  display: flex;
  list-style: none; /* Remove as bolinhas padrão da lista */
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-left: 20px; /* Espaçamento entre os itens */
}

.menu-item a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 450;
  color: #780096;
  transition: color 0.3s ease;
}

.menu-item a:hover {
  color: #c270e9; /* Cor ao passar o mouse */
}
