
.header {
  background-color: #f9f4fc; 
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.navbar-title{
  display: flex;
  flex-direction: row;
  align-items: end;
}

.navbar-title h1{
  margin: 0;
  font-size: 28px;
  color: #8b09be;
}

.navbar-title p{
  margin: 0;
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 15px;
  color: rgb(120, 66, 165);
}

.navbar-title img{
  margin: 0;
  width: 30px;
  margin-right: 12px;
}

.navbar-menu {
  display: flex;
}

.menu-items {
  display: flex;
  list-style: none; 
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-left: 70px; 
}

.menu-item button {
  text-decoration: none;
  font-size: 22px;
  font-weight: 450;
  color: #780096;
  transition: color 0.3s ease;
  background-color: transparent;
  border: none;
}

.menu-item button:hover {
  color: #c270e9; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header img {
  animation: spin 10s linear infinite; 
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .navbar-title {
    margin-bottom: 10px; 
  }

  .navbar-menu {
    justify-content: center; 
    width: 100%; 
  }

  .menu-item {
    margin-left: 0; 
    margin-bottom: 10px; 
  }

  .menu-item button {
    font-size: 18px; 
  }
}