/* Estilos Gerais da Home */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif; 
    padding: 0 20px;
    background: linear-gradient(135deg, #400168, #370441); /* Gradiente suave do roxo para lilás */
}

.introducao-home {
    text-align: center;
    max-width: 800px;
    margin-bottom: 50px;
    animation: fadeIn 1s ease-in-out;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
}

.introducao-home h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.introducao-home p {
    font-size: 18px;
    line-height: 1.6;
    color: #e0e0e0;
}

.download-curriculo {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s ease-in-out;
}

.titulo-download h2 {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 1.2px;
    color: #ffffff;
}

.icon-button {
    text-align: center;
}

.download-button {
    background: linear-gradient(90deg, #ab47bc, #6a1b9a); 
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.download-button:hover {
    background: linear-gradient(90deg, #6a1b9a, #ab47bc); 
    transform: scale(1.1); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.download-button:active {
    transform: scale(1.05); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Animações */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
